{% extends "cars/base.html" %}



{% block content %}
<style>
  body {
    background-color: #2a363f;
  }
</style>
<br><br><br><br><br><br><br><br><br><br><br><br>
<center><div class="log-out">
  <p>Logged out!</p>  
  <a href="{% url 'login'%}" style="text-decoration:none">Click here to login again!</a>
</div></center>
{% endblock %}