{% extends "cars/base.html" %} {% block content %}
<style>
  body {
    background-color: #2a363f;
  }
  label {
    color: white;
  }
</style>

<div class="form-style-6">
    <center><img src="https://i.imgur.com/HoAdLOE.png"></center><br><br>
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %} {% if next %} {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %} {% endif %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <label for="">Username</label>
    <td>{{ form.username }}</td>
    <label for="">Password</label>
    <td>{{ form.password }}</td>
    <div>
      <button type="submit" value="login" /><b>SIGN IN</b></button>
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
    <br>
  </form>
  
</div>

{% endblock %}