body {
  box-sizing: border-box;
  min-width: 600px;
}
.container {
  margin-bottom: 50px;
}
.logo {
  float: left;
}
/* ~~ Top Navigation Bar ~~ */
#navigation-container {
  margin: 0 auto;
  height: 70px;
}
.navigation-bar {
  background-color: #2a363f;
  height: 70px;
  width: 100%;
}
.container {
  /* height: 100; */
}
.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}
.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}
.navigation-bar li a {
  color: #ffffff;
  font-size: 17px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
}
.table-header {
  color: white;
  border-radius: 20px;
  border:"0"
}
table {
  border: 1px solid #2a363f;
  border-radius: 20px;
  border:"0";
}
.form-control input:hover, input:focus, input:active{
  border: 1px solid #2a363f;
  color: #2a363f;
}
h1 {
  display: inline;
}
h3 {
  float: right;
  display: inline;
  margin-top: 10px;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse {
  background-color: #2a363f;
  border-color: #2a363f;
}
table-header {
  color: white;
}
.blue-text {
  color: #2a363f;
  text-decoration: none;
}
h1 {
  display: inline;
}
h3 {
  float: right;
  display: inline;
  margin-top: 10px;
}
.logo-img {
  margin-top: 30%;
}
.form-style-6{
  margin: auto;
  margin-top: -200px;
  padding: 20px 12px 10px 20px;
  font: 13px Arial, Helvetica, sans-serif;
  width: 40vw;
}
.form-style-6 input {
  height: 40px;
  width: 80px;
}
.form-style-6 button {
  height: 40px;
  width:100%;
  background-color: #ffffff;
}
.form-style-6 input {
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  margin-bottom: 4%;
  border: 1px solid #697178;
  padding: 3%;
  font: 95% Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 0 0 0px 1000px #2a363f inset;
  color: #ffffff;
  border-radius: 5px;
}

/* add car */

.form-style-car{
  margin: auto;
  margin-top: -200px;
  padding: 20px 12px 10px 20px;
  font: 13px Arial, Helvetica, sans-serif;
  width: 40vw;
}
.form-style-car input {
  height: 40px;
  width: 80px;
}
.form-style-car button {
  height: 40px;
  width:100%;
  background-color: #ffffff;
}
.form-style-car input {
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  margin-bottom: 2%;
  border: 1px solid #697178;
  padding: 3%;
  font: 95% Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

/* add car */

.form-style-7 input {
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  margin-bottom: 4%;
  border: 1px solid #697178;
  padding: 3%;
  font: 95% Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 0 0 0px 1000px #2a363f inset;
  color: #ffffff;
  border-radius: 5px;
}
::placeholder {
 /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C7C7CD;
}
.form-style-6 p {
  color: white;
}
.form-style-6 a {
  color: #6ed9a0;
}
.form-style-6 button {
  color: #6ed9a0;
}
.form-style-car p {
  color: white;
}
.form-style-car a {
  color: #6ed9a0;
}
.form-style-car button {
  color: #6ed9a0;
}
.log-out {
  color: white;
  display: inline;
  float: none;
  margin-top: 500px;
}
.log-out a {
  color: #6ed9a0;
}
.form-style-7{
  margin: auto;
  margin-top: -330px;
  padding: 20px 12px 10px 20px;
  font: 13px Arial, Helvetica, sans-serif;
  width: 40vw;
  margin-top: 10vh;
}
.form-style-7 form button {
  height: 50px;
  width:100%;
  background-color: white 
}
input:hover, input:focus, input:active {
  /* -webkit-box-shadow: 0 0 0px 1000px #2a363f inset; */
  border: 2px solid #6ed9a0;
  /* -webkit-text-fill-color: white; */
  border-radius: 5px;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #ffffff;
}
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
}
.form-style-7 p {
  color: white;
}
.form-style-7 a {
  color: #6ed9a0;
}
.form-style-7 button {
  color: #6ed9a0;
}
@media screen and (min-width: 971px) {
  .form-style-7 img {
      width: 400px;
 }
  .form-style-7{
      margin: auto;
      padding: 20px 12px 10px 20px;
      font: 13px Arial, Helvetica, sans-serif;
      width: 40vw;
      margin-top: 5vh;
 }
  .form-style-6 img {
      width: 400px;
 }
  .form-style-6{
      margin: auto;
      margin-top: 10vh;
      padding: 20px 12px 10px 20px;
      font: 13px Arial, Helvetica, sans-serif;
      width: 50vw;
 }
}
@media screen and (max-width: 970px) {
  .form-style-7 img {
      width: 300px;
 }
  .form-style-7{
      margin: auto;
      padding: 20px 12px 10px 20px;
      font: 13px Arial, Helvetica, sans-serif;
      width: 70vw;
      margin-top: 10vh;
 }
  .form-style-6 img {
      width: 300px;
 }
  .form-style-6{
      margin: auto;
      padding: 20px 12px 10px 20px;
      font: 13px Arial, Helvetica, sans-serif;
      width: 70vw;
      margin-top: 15vh;
 }
}
@media screen and (max-width: 830px) {
  .form-style-7 img {
      width: 300px;
 }
  .form-style-6 img {
      width: 300px;
 }
}
@media screen and (max-width: 760px) {
  .navigation-bar li a {
      display: block;
      text-align:center;
 }
  .navigation-bar li a {
      display: inline-block;
 }
}
@media screen and (max-width: 700px) {
  .form-style-7 img {
      width: 300px;
 }
  .form-style-7{
      margin: auto;
      padding: 20px 12px 10px 20px;
      font: 13px Arial, Helvetica, sans-serif;
      width: 70vw;
      margin-top: 20vh;
 }
  .form-style-6 img {
      width: 300px;
 }
  .form-style-6{
      margin: auto;
      padding: 20px 12px 10px 20px;
      font: 13px Arial, Helvetica, sans-serif;
      width: 70vw;
      margin-top: 20vh;
 }
}
@media screen and (max-width: 460px) {
  .form-style-7 img {
      width: 180px;
 }
  .form-style-7{
      margin: auto;
      padding: 20px 12px 10px 20px;
      font: 13px Arial, Helvetica, sans-serif;
      width: 80vw;
      margin-top: 30vh;
 }
  .form-style-6 img {
      width: 180px;
 }
  .form-style-6{
      margin: auto;
      padding: 20px 12px 10px 20px;
      font: 13px Arial, Helvetica, sans-serif;
      width: 80vw;
      margin-top: 30vh;
 }
}
@media screen and (max-width: 250px) {
  .form-style-7 img {
      display: none;
 }
  .form-style-6 img {
      display: none;
 }
  .navigation-bar ul{
      display: none;
 }
  img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
 }
}
.form-style-20 {
  position: absolute; 
  left: 100px; 
  top: 100px;
  color: #2a363f;
}

.form-style-20 p {
  position: center;
  margin-left: 50px;
  margin-right: 200px;
}

.form-style-21 p {
  position: fixed;
  left: 50%;
  margin-left: -150px;
  bottom: 20px;
  text-decoration: underline;
}

.form-style-22 {
  position: absolute; 
  right: 100px; 
  top: 100px;
  color: #2a363f;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 2fr;
  background-color: ;
  padding: 2px;
  width: 100%;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 30px;
  font-size: 30px;
  text-align: center;
}

.grid-item h3 {
  float: none;
  display: inline;
  margin-top: 0px;
  padding: 7px;
}

.btn-primary {
  color: #2a363f;
  background-color: #ffffff;
}