{% extends "cars/base.html" %}

{% block title %}Active Orders{% endblock %}

{% block content %}
<br>
<h1 class="blue-text">Active Orders</h1>
<h3 class="blue-text">Welcome, {{user.username}}</h3>
<br><br>
<form method="GET">
    <input class="form-control" id="search" name="q" type="text" placeholder="Search...">
    <!--<button type="submit">Search</button>-->
</form>

<table align="center" class="table table-hover">
    <thead>
        <tr class="table-header">
            <th bgcolor="#2a363f">ID</th>
            <th bgcolor="#2a363f">Creation Date</th>
            <th bgcolor="#2a363f">Pickup Date</th>
            <th bgcolor="#2a363f">Customer</th>
            <th bgcolor="#2a363f">Car</th>
            <th bgcolor="#2a363f">Pickup Store</th>
            <th bgcolor="#2a363f">Return Car</th>
        </tr>
    </thead>
    <tbody id="order_table">
        {% for order in orders %}
        <tr>
            <td>{{order.pk}}</td>
            <td>{{order.creation_date}}</td>
            {% if order.pickup_date %}
            <td>{{order.pickup_date}}</td>
            {% else %}
            <td><a href="{% url 'pickup_car' pk=order.pk %}" onclick="return confirm('Are you sure you want to edit this order')">Pickup
                    Today</a></td>
            {% endif %}
            <td><a href="{% url 'customer' pk=order.customer.pk %}">{{order.customer}}</a></td>
            <td><a href="{% url 'car_detail' pk=order.car.pk %}">{{order.car}}</a></td>
            <td><a href="{% url 'store' pk=order.pickup_store.pk %}">{{order.pickup_store}}</a></td>

            {% if order.pickup_date %}
            <td><a href="{% url 'return_car' pk=order.pk %}">Return Car</a></td>
            {% else %}
            <td>-</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>

    <div class="pagination">
            <span class="step-links">
                {% if orders.has_previous %}
                <a href="?page=1"><< first</a>
                <a href="?page={{ orders.previous_page_number }}">< previous</a>
                {% endif %}
    
                <span class="current">
                    Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
                </span>
    
                {% if orders.has_next %}
                <a href="?page={{ orders.next_page_number }}">next ></a>
                <a href="?page={{ orders.paginator.num_pages }}">last >></a>
                {% endif %}
            </span>
        </div>
{% endblock %}