{% extends "./base.html" %}
{% load humanize %}

{% block title %}Analytics{% endblock %}
{% block imports %}
<style>
    #bookings {
        grid-column: 1/2; /* 1/2 */
    }
    #flavour {
        grid-column: 1/4;
    }
    
    h1 {
        color: #6ed9a0;
    }
</style>
{% endblock %}

{% block content %}
<br>
<h1 class="blue-text">Analytics</h1>

<h3 class="blue-text">Monthly</h3>

<br><br><br>

<div class="grid-container">
    <div class="grid-item" id="bookings"><h3>Bookings</h3><br><h1 class="statistic">{{count}}</h1><br><h4></h4></div>
    <div class="grid-item"><h3>Clients</h3><br><h1 class="statistic">{{client_count}}</h1><br><h4></h4></div>
    <div class="grid-item"><h3>Total Revenue</h3><br><h1 class="statistic">${{revenue|intcomma}}</h1><br><h4></h4></div>  
    <div class="grid-item" id="flavour"><h3>Flavour Of The Month</h3><br><h1 class="statistic">{{car_count}}</h1><br><h4></h4></div>

    <div class="grid-item" id="flavour"><h3>Most Popular Store</h3><br><h1 class="statistic">{{store_count}}</h1><br><h4></h4></div>  
  </div>

  <!-- ${{car.price_new|intcomma}} for dollar sign-->
  
    



{% endblock %}