{% load static %}
<!DOCTYPE html>
<!-- sets the style to be used by the navbar-->
<style>
.dropdown { 
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    left: -20px;
    background-color: #2a363f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 12px 5px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
</style>
<html>
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% block title %}{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'cars/style.css' %}">
      
      <link rel="shortcut icon" type="image/png" href="https://image.ibb.co/geaZ9z/favicon.png"/> 
      {% block imports %}{% endblock %}
   </head>
   <body>
      <div class="navigation-bar"> <!--Navbar containter-->
         <div id="navigation-container">
            <a href="/"><img width="160" height="70" src="https://i.imgur.com/HoAdLOE.png"></a> <!--logo for CRC, uploaded to imageboard-->
            <ul>
                <div class="dropdown">
                <li><a href="/">HOME</a></li>
                    <div class="dropdown-content">
                        <a href="{% url 'locations' %}">LOCATIONS</a>
                        </div>
                    </div>
                {% if user.is_authenticated %} <!--Sets which pages each user group has access to-->
                    {% with user.groups.all as groups %}
                        {% for group in groups %}
                            {% if group.name == "Retail" %}
                                <div class="dropdown">
                                    <li><a href="{% url 'inventory' %}">INVENTORY</a></li>
                                    <div class="dropdown-content"> 
                                        <a href="/inventory/add">ADD NEW CAR</a>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                        {% else %}
                            <li><a href="{% url 'inventory' %}">INVENTORY</a></li>
                            {% endif %}   
                <li><a href="{% url 'recommendation' %}">RECOMMENDATION</a></li>
                {% if user.is_authenticated %} <!--Sets which pages each user group has access to-->
                    {% with user.groups.all as groups %}
                    {% for group in groups %}
                    {% if group.name == "Retail" %} <!--Retail has access to orders and customer info-->
                            <div class="dropdown">
                                <li><a href="{% url 'order_list' %}">ORDERS</a></li>
                                <div class="dropdown-content">
                                    <a href="{% url 'create_order' %}">CREATE ORDER</a>
                                    <a href="{% url 'open_order' %}">ACTIVE ORDERS</a>
                                </div>
                            </div>
                            {% elif group.name == "HR" %} <!--HR has access to management and user registration-->
                                <div class="dropdown">
                                    <li><a href="{% url 'management' %}">MANAGEMENT</a></li>
                                    <div class="dropdown-content"> 
                                        <a href="/management/register">REGISTER NEW USER</a>
                                    </div>
                                </div> 
                                <li><a href="{% url 'analytics' %}">ANALYTICS</a></li>   
                            {% endif %}
                    {% endfor %}
                {% endwith %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav" style="float: right;"> <!--logout button for users that are logged in-->
               <div class="navigation-bar">
                  {% if user.is_authenticated %}
                  <li><a href="/accounts/logout">LOGOUT</a></li> <!--directs to logged_out page-->
                  {% else %}
                  <li><a href="/accounts/login">SIGN IN</a></li> <!--if logged in display login and direct to login page-->
                  {% endif %}
               </div>
            </ul>
         </div>
      </div>
      <div class="container">
         {% block content %}
         {% endblock %}
      </div>
   </body>
</html>