{% extends "cars/base.html" %}

{% block title %}Order {{order.pk}} Car History Log{% endblock %}

{% block content %}
<br>
<h2>Car History Log: Order {{order.pk}}</h2>
<br>
{% if history %}
<table align="center" class="table table-hover">
        <thead>
            <tr class="table-header">
                <th bgcolor="#2a363f">Interior Damage:</th>
                <th bgcolor="#2a363f">Intererior Condition:</th>
                <th bgcolor="#2a363f">Exterior Damage:</th>
                <th bgcolor="#2a363f">Exterior Condition:</th>
                <th bgcolor="#2a363f">Additional Comments:</th>
                <th bgcolor="#2a363f">Fuel Gauge Reading:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{history.interior_damage}}</td>
                <td>{{history.interior_condition}}</td>
                <td>{{history.exterior_damage}}</td>
                <td>{{history.exterior_condition}}</td>
                <td>{{history.comments}}</td>
                <td>{{history.fuel}}%</td>
            </tr>
        </tbody>
    
    

</table>



{% else %}
<h4>This car did not have any condition notes left from this order</h4>
{% endif %}

{% endblock %}