{% extends "./base.html" %}
{% load humanize %}
{% load auth_extras %}


{% block title %}{{car.pk}} - {{car.model}}{% endblock %}

{% block imports %}
<style>
    #showcase {
        display: block;
        padding: 5vh 0;
    }
    #showcase h3, hr {
        float: left;
        display: block;
        width: 100%;
    }
    #showcase table {
        border: 0px;
    }

    #showcase th, td {
        padding: 0 10px;
    }
    th, td {
        padding: 5px;
    }
</style>
{% endblock %}

{% block content %}

<div id="showcase">
   <h3>{{car.pk}}: {{car.make}} {{car.model}}</h3>
   <hr> 
    <h4>
       {{car.make}} {{car.model}} {{car.series}} {{car.series_year}}
    </h4>
    <table>
        <tr><th>Price</th><td>${{car.price_new|intcomma}}</td></tr>
        <tr><th>Engine</th><td>{{car.engine_size}}</td>
        <tr><th>Fuel</th><td>{{car.fuel_system}}</td></tr>
        <tr><th>Power</th><td>{{car.power}}</td></tr>
        <tr><th>Seats</th><td>{{car.seating_capacity}}</td></tr>
        <tr><th>Body</th><td>{{car.body_type}}</td></tr>
        <tr><th>Drive</th><td>{{car.drive}}</td></tr>
        <tr><th>Wheelbase</th><td>{{car.wheelbase}}mm</td></tr>
        <tr><th>Current Store</th><td><a href="{% url 'store' pk=store.pk %}">{{store}}</a></td></tr>
        <tr><th>Available</th><td>{{car.available}}</td></tr>
        <tr><th></th>
        {% if user|has_group:"Manager" and car.available %}
        <td><form action="{% url 'toggle' pk=car.pk %}" method="POST">{% csrf_token %}<button onclick="confirm('Are you sure? This might lead to errors')">Make unavailable</button></form></td>
        {% elif user|has_group:"Manager" and not car.available %}
        <td><form action="{% url 'toggle' pk=car.pk %}" method="POST">{% csrf_token %}<button onclick="confirm('Are you sure? This might lead to errors')">Make available</button></form></td>
        {% endif %}
        </tr>
    </table>
</div>
<div>
    {% if histories and user|has_group:"Retail"%}
    <table align="center" class="table table-hover">
        <thead>
            <tr class="table-header">
                <th bgcolor="#2a363f">History ID</th>
                <th bgcolor="#2a363f">Interior Damage</th>
                <th bgcolor="#2a363f">Intererior Condition</th>
                <th bgcolor="#2a363f">Exterior Damage</th>
                <th bgcolor="#2a363f">Exterior Condition</th>
                <th bgcolor="#2a363f">Additional Comments</th>
                <th bgcolor="#2a363f">Fuel Gauge Reading</th>
            </tr>
        </thead>
        <tbody>
        {% for history in histories %}
        <tr>
            <td>{{history.order_id}}</td>
            <td>{{history.interior_damage}}</td>
            <td>{{history.interior_condition}}</td>
            <td>{{history.exterior_damage}}</td>
            <td>{{history.exterior_condition}}</td>
            <td>{{history.comments}}</td>
            <td>{{history.fuel}}%</td>            
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% elif user|has_group:"Retail" %}
    <h4>This car has no previous records to show.</h4>
    {% endif %}
</div>
{% endblock %}