{% extends "cars/base.html" %}
{% block title %}Create New Order{% endblock %}

{% block imports %}
<style>
    form {
        margin: 20px;
    }
    table, tr, td {
        padding: 10px 20px;
        border: none;
    }
    input, select {
        width: 100%;
        padding: 5px 10px;
    }

    button {
        padding: 5px 10px;
    }
</style>
{% endblock %}

{% block content %}
<br>
<h1 class="blue-text">Create Order{{order.pk}}</h1>
{% if form %}
<form method="POST">{% csrf_token %}
    <table>
        {{form.as_table}}
        <tr>
            <th><input type="hidden" name="store" value="{{store}}"></th>
            <td><button class="btn btn-primary" type="submit"><b>Create Order</b></button></td>
        </tr>
    </table>

</form>
{% else %}
<form method="POST">{% csrf_token %}
    <table>
        <tr>
            <th><label for="store">Select Store</label></th>
        </tr>
        <tr>
            <td>
                <select name="store" id="store">
                    {% for store in stores %}
                    <option value="{{store.pk}}">{{store.store_name}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-primary" type="submit">Select</button>
            </td>
        </tr>
    </table>
</form>
{% endif %}

{% endblock %}