{% extends "cars/base.html" %}

{% block title %}{{customer.name}}{% endblock %}

{% block content %}
<br>
<H1>Additional Customer Information</H1>
<br>
<br>
<table style="border:0" align="center" class="table table-hover"> <!--The first table present on the webpage, 
                                                    pulls data from the cars.customer table 
                                                    relevant to the customer_id an customer_name
                                                     selected in the orders page-->
    <tr>
        <th style="width: 20%;" class="table-header" bgcolor="#2a363f">Customer ID:</th>
        <td>{{customer.pk}}</td> <!--direct pull of data from the cars.customer 
                                    table with table header name relevant to data-->
    </tr>
    <tr>
        <th class="table-header" bgcolor="#2a363f">Customer Name:</th>
        <td>{{customer.name}}</td>
    </tr>
    <tr>
        <th class="table-header" bgcolor="#2a363f">Phone Number:</th>
        <td>{{customer.phone}}</td>
    </tr>
    <tr>
        <th class="table-header" bgcolor="#2a363f">Current Address:</th>
        <td>{{customer.addresss}}</td>
    </tr>
    <tr>
        <th class="table-header" bgcolor="#2a363f">City:</th>
        <td>{{customer.city}}</td>
    </tr>
    <tr>
        <th class="table-header" bgcolor="#2a363f">State:</th>
        <td>{{customer.state}}</td>
    </tr>
    <tr>
        <th class="table-header" bgcolor="#2a363f">Post Code:</th>
        <td>{{customer.post_code}}</td>
    </tr>
    <tr>
        <th class="table-header" bgcolor="#2a363f">Date of Birth:</th>
        <td>{{customer.brithday}}</td>
    </tr>
    <tr>
        <th class="table-header" bgcolor="#2a363f">Occupation:</th>
        <td>{{customer.occupation}}</td>
    </tr>
    <tr>
        <th class="table-header" bgcolor="#2a363f">Customer Gender:</th>
        <td>{{customer.gender}}</td>
    </tr>
<!--Second table which displays the previos orders of the customer 
selected from the orders page only returns order from cars.order table
with customer_id that matches the customer_id pk selected from orders page-->
</table>
<br>
<h1>Previous Orders</h1>
<br>
<br>
<table align="center" class="table table-hover">
        <thead>
           <tr class="table-header">
              <th bgcolor="#2a363f">Order ID</th>
              <th bgcolor="#2a363f">Creation Date</th>
              <th bgcolor="#2a363f">Pickup Date</th>
              <th bgcolor="#2a363f">Pickup Store</th>
              <th bgcolor="#2a363f">Return Date</th>
              <th bgcolor="#2a363f">Return Store </th>
              <th bgcolor="#2a363f">Customer ID</th>
              <th bgcolor="#2a363f">Car ID</th>              
           </tr>
        </thead>
        <tbody id="car_table">

            {% for order in orders %}
            <tr>
                <td><a href="{% url 'car_history' pk=order.pk %}">{{order.pk}}</a></td>
                <td>{{order.creation_date}}</td>
                
                <!--links the pick_store name to the store info page relevant to the store.pk displayed-->
                
                {% if not order.pickup_date == None %}
                <td>{{order.pickup_date}}</td>
                {% else %}
                <td>Awaiting Pickup</td> 
                {% endif %}
                <td><a href="{% url 'store' pk=order.pickup_store.pk %}">{{order.pickup_store}}</a></td>
                {% if not order.return_store == None %}
                <td>{{order.return_date}}</td>
                <td><a href="{% url 'store' pk=order.return_store.pk %}">{{order.return_store}}</a></td>
                {% else %}
                <td>Awaiting Return</td>
                <td>Awaiting Return</td>
                {% endif %}
                <td>{{order.customer_id}}</td>
                <td><a href="{% url 'car_detail' pk=order.car.pk %}">{{order.car}}</a></td>  
            </tr>
            {% endfor %}
        </tbody>

{% endblock %}