{% extends "./base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
    body {
      background-color: white;
    }
    p {
        margin: 0 0 0px;
    }
</style>
<br>
<h1 class="blue-text">Home</h1>
{% if user.is_authenticated %}
        <h3 class="blue-text">Welcome, {{user.username}}</h3>
{% else %}
        <h3 class="blue-text">Welcome to the CRC System!</h3>
{% endif %}
<br><br><br>
<div class="form-style-20"></div> <!--Form Style to be ise for the text-->
    <div>
    <p>CRC has multiple car rental locations (or stores at, e.g., Brisbane, Melbourne, Sydney,
        Adelaide, Gold Coast, etc.) around Australia. It offers a wide range of cars, 4WDs and mini
        buses as well as Australia’s largest fleet of truck and commercial vehicles that are distributed in
        these locations.  Navigate the site through the Navigation bar at the top, within the home page, a list of
        all store locations has been provided.</p>
    </div>
    <br>
    <a href="{% url 'recommendation' %}"><h1 class="blue-text">Recommendation</h1></a>
    <br><br>
    <p>Are you struggling to find the car that suites your needs?<br>
        <strong>Use the Recommendation page to find the right car for you!</strong>
    </p>
    <br>
    <a href="{% url 'inventory' %}"><H1 class="blue-text"> Inventory</H1></a>
    <br><br>
    <p>The Inventory Page is to be used for the viewing of all CRC cars in system, as well as provide additional useful information on any of the cars features.</p>
    {% if user.is_authenticated %}
        {% with user.groups.all as groups %}
            {% for group in groups %}
                {% if group.name == "Retail" %}
                <strong><p>This page allows Retail staff to add new cars to our stores inventory.</p></strong>
                {% endif %}
            {% endfor %}
        {% endwith %} 
    {% endif %}
    {% if user.is_authenticated %} <!--Users not logged in will only be displayed the home page-->
        {% with user.groups.all as groups %}
            {% for group in groups %}
                {% if group.name == "HR" %} <!--HR Group has access to all pages-->
                <br>
                <a href="{% url 'management' %}"><H1 class="blue-text"> Management</H1></a>
                <br><br>
                <strong><p>The Management Page is to be used for the viewing and/or the removal or creation of user accounts from the CRC System.</strong>
                    To change user privileges, select the user, update the users details.
                </p>
                {% elif group.name == "Retail" %} <!--Retail group only has access to inventory page and customer info/order history-->
                <br>
                
                <a href="{% url 'order_list' %}"><H1 class="blue-text"> Order History</H1></a>
                <br><br>
                <strong><p>The Order History Page is to be used for the viewing and addition of customer orders, links within can be used to see the history of specific customers.</strong>
                    Orders History's detail the condition of the car through the order ID.
                </p>
                {% endif %}
            {% endfor %}
        {% endwith %}
        {% else %}
        <div class="form-style-21">
                <center><p><a href="/management/register" style="text-decoration:none">Please Login for more details...</a></p></center> <!--directs to registration page-->
        </div>
    {% endif %}
</div>

{% endblock %}