{% extends "./base.html" %}
{% load humanize %}

{% block title %}Inventory | Add Car{% endblock %}
{% block imports %}

<style>
    body {
        min-width: 967px;
    }
     form {
        margin: 20px;
    }
    table, tr, td {
        padding: 10px 20px;
        border: none;
    }
    input, select{
        width: 100%;
        padding: 2%;
    }

    button {
        padding: 5px 10px;
    }
</style>
{% endblock %}

{% block content %}
<br>
<h1 class="blue-text">Add Car</h1>
{% if user.is_authenticated %}
<h3 class="blue-text">Welcome, {{user.username}}</h3>
{% else %}
<h3 class="blue-text">Welcome to the CRC System!</h3>
{% endif %}
<br><br><br><br><br><br><br><br><br><br><br><br>
{% if cars %}
{% else %}
<div class="form-style-car">
<form method="post" action="{% url 'add_car' %}">{% csrf_token %}
    <select name="last_store" id="last_store">
        {% for store in stores %}
        <option value="{{store.pk}}"> {{store.store_name}} </option>
        {% endfor %}
    </select><br><br>
    <input type="text" name="make" value="" placeholder="Make" required><br>
    <input type="text" name="model" value="" placeholder="Model" required><br>
    <input type="text" name="series" value="" placeholder="Series" required><br>
    <input type="number" name="series_year" value="" placeholder="Year" required><br>
    <input type="number" name="price_new" value="" placeholder="Price" required><br>
    <input type="number" step="0.1" name="engine_size" value="" placeholder="Engine" required><br>
    <input type="text" name="fuel_system" value="" placeholder="Fuel System" required><br>
    <input type="number" step="0.1" name="tank_capacity" value="" placeholder="Tank Capacity" required><br>
    <input type="number" name="power" value="" placeholder="Power" required><br>
    <input type="number" name="seating_capacity" value="" placeholder="Seating Capacity" required><br>
    <input type="text" name="standard_transmission" value="" placeholder="Standard Transmission" maxlength="10" required><br>
    <input type="text" name="body_type" value="" placeholder="Body Type" required><br>
    <input type="text" name="drive" value="" placeholder="Drive" maxlength="4" required><br>
    <input type="number" name="wheelbase" value="" placeholder="Wheelbase" required><br>
    <div>
        <button type="submit" value="" /><b>Add Car</b></button>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
</form>
</div>
<br><br>
{% endif %}
{% endblock %}