{% extends "./base.html" %}
{% load humanize %}

{% block title %}Inventory{% endblock %}
{% block imports %}{% endblock %}

{% block content %}
<br>
<h1 class="blue-text">Inventory</h1>

{% if user.is_authenticated %}

        <h3 class="blue-text">Welcome, {{user.username}}</h3>
{% else %}
        <h3 class="blue-text">Welcome to the CRC System!</h3>
{% endif %}


<br><br>
<form method="GET">
    <input class="form-control" id="search" name="q" type="text" placeholder="Search..."><!--<button type="submit">Search</button>-->
</form>
<table align="center" class="table table-hover">
    <thead>
        <tr class="table-header">
            <th bgcolor="#2a363f">ID</th>
            <th bgcolor="#2a363f">Make</th>
            <th bgcolor="#2a363f">Model</th>
            <th bgcolor="#2a363f">Series</th>
            <th bgcolor="#2a363f">Year</th>
            <th bgcolor="#2a363f">Location</th>
            <th bgcolor="#2a363f">Price</th>
        </tr>
    </thead>
    <tbody id="car_table">
        {% for car in cars %}
        <tr>
            <td><a href="{% url 'car_detail' pk=car.pk %}">{{car.pk}}</a></td>
            <td>{{car.make}}</td>
            <td>{{car.model}}</td>
            <td>{{car.series}}</td>
            <td>{{car.series_year}}</td>
            {% if car.available %}
            <td><a href="{% url 'store' pk=car.last_store.pk %}">{{car.last_store}}</a></td>
            {% else %}
            <td>With Customer</td>
            {% endif %}
            <td>${{car.price_new|intcomma}}</td>
        </tr>
        {% endfor %}
    </tbody>

    <div class="pagination">
        <span class="step-links">
            {% if cars.has_previous %}
            <a href="?page=1"><< first</a>
            <a href="?page={{ cars.previous_page_number }}">< previous</a>
            {% endif %}

            <span class="current">
                Page {{ cars.number }} of {{ cars.paginator.num_pages }}.
            </span>

            {% if cars.has_next %}
            <a href="?page={{ cars.next_page_number }}">next ></a>
            <a href="?page={{ cars.paginator.num_pages }}">last >></a>
            {% endif %}
        </span>
    </div>
    {% endblock %}