{% extends "cars/base.html" %}
{% load humanize %}

{% block title %}Locations{% endblock %}

{% block content %}
<style>
.column {
    -webkit-columns: 10px 2; /* Chrome, Safari, Opera */
    -moz-columns: 100px 2; /* Firefox */
    columns: 100px 2;
    margin-top: 25px;
}
li {
    list-style-type: none;  
    margin-bottom: 10px;
}
.column a {
    display: inline-block;
    box-sizing: border-box;
    padding: 8px;
    /*border: 1px solid black;*/
    width: 100%;
    text-align: center
}
</style>

<html>
<br>
<h1>All Current Store Locations, Come in and visit!</h1>
{% if user.is_authenticated %}
    <h3 class="blue-text">Welcome, {{user.username}}</h3>
{% else %}
    <h3 class="blue-text">Welcome to the CRC System!</h3>
{% endif %}

<div class="column">
{% for store in stores %}
<li><a href="{% url 'store' pk=store.pk %}">{{store.city}}, {{store.address}}, {{store.phone}}</a></li>
{% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if stores.has_previous %}
        <a href="?page=1"><< first</a>
        <a href="?page={{ stores.previous_page_number }}">< previous</a>
        {% endif %}

        <span class="current">
            Page {{ stores.number }} of {{ stores.paginator.num_pages }}.
        </span>

        {% if stores.has_next %}
        <a href="?page={{ stores.next_page_number }}">next ></a>
        <a href="?page={{ stores.paginator.num_pages }}">last >></a>
        {% endif %}
    </span>
</div>
</html>
{% endblock %}