{% extends "./base.html" %}
{% block title %}Management{% endblock %}
{% block content %}
<br>
<h1 class="blue-text">Management</h1>
<h3 class="blue-text">Welcome, {{user.username}}</h3>
<br><br>
<form method="GET">
    <input class="form-control" id="search" name="q" type="text" placeholder="Search..."><!--<button type="submit">Search</button>-->
</form>
<table class="table table-hover">
<thead>
   <tr class="table-header">
      <th bgcolor="#2a363f">Username</th>
      <th bgcolor="#2a363f">Email</th>
      <th bgcolor="#2a363f">First Name</th>
      <th bgcolor="#2a363f">Last Name</th>
   </tr>
</thead>
<tbody>
   {% for user in users %}
   <tr>
      <td><a href="{% url 'staff' pk=user.pk %}">{{user.username}}</a></td>
      <td>{{user.email}}</td>
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
   </tr>
   {% endfor %}
</tbody>

<div class="pagination">
        <span class="step-links">
            {% if users.has_previous %}
            <a href="?page=1"><< first</a>
            <a href="?page={{ users.previous_page_number }}">< previous</a>
            {% endif %}

            <span class="current">
                Page {{ users.number }} of {{ users.paginator.num_pages }}.
            </span>

            {% if users.has_next %}
            <a href="?page={{ users.next_page_number }}">next ></a>
            <a href="?page={{ users.paginator.num_pages }}">last >></a>
            {% endif %}
        </span>
    </div>
{% endblock %}