{% extends "./base.html" %}
{% load humanize %}

{% block title %}Recommendations{% endblock %}
{% block imports %}
<style>
     form {
        margin: 20px;
    }
    table, tr, td {
        padding: 10px 20px;
        border: none;
    }
    input, select {
        width: 100%;
        padding: 5px 10px;
    }

    button {
        padding: 5px 10px;
    }
    
</style>{% endblock %}

{% block content %}
<br>

{% if cars %}
<h1 class="blue-text">Recommendations</h1>
{% else %}
<h1>Recommendation Options</h1>
{% endif %}

{% if user.is_authenticated %}

<h3 class="blue-text">Welcome, {{user.username}}</h3>
{% else %}
<h3 class="blue-text">Welcome to the CRC System!</h3>
{% endif %}

{% if cars %}
<br>
<div class="pagination">
    <span class="step-links">
        {% if cars.has_previous %}
        <a href="?page=1"><< first</a>
        <a href="?page={{ cars.previous_page_number }}">< previous</a>
        {% endif %}
        
        <span class="current">
            Page {{ cars.number }} of {{ cars.paginator.num_pages }}.
        </span>
        
        {% if cars.has_next %}
        <a href="?page={{ cars.next_page_number }}">next ></a>
        <a href="?page={{ cars.paginator.num_pages }}">last >></a>
        {% endif %}
    </span>
</div>
&nbsp;<a class="btn btn-primary" href="{% url 'recommendation' %}">Reset</a>

<table align="center" class="table table-hover">
    <thead>
        <tr class="table-header">
            <th bgcolor="#2a363f">ID</th>
            <th bgcolor="#2a363f">Make</th>
            <th bgcolor="#2a363f">Model</th>
            <th bgcolor="#2a363f">Series</th>
            <th bgcolor="#2a363f">Year</th>
            <th bgcolor="#2a363f">Location</th>
            <th bgcolor="#2a363f">Price</th>
        </tr>
    </thead>
    <tbody id="car_table">
        {% for car in cars %}
        <tr>
            <td><a href="{% url 'car_detail' pk=car.pk %}">{{car.pk}}</a></td>
            <td>{{car.make}}</td>
            <td>{{car.model}}</td>
            <td>{{car.series}}</td>
            <td>{{car.series_year}}</td>
            {% if car.available %}
            <td><a href="{% url 'store' pk=car.last_store.pk %}">{{car.last_store}}</a></td>
            {% else %}
            <td>With Customer</td>
            {% endif %}
            <td>${{car.price_new|intcomma}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<form method="POST">{% csrf_token %}
    <table>
        <tr>
            <th><label for="store">Select Store</label></th>
        </tr>
        <tr>
            <td>
                <select name="store" id="store">
                    <option value=""></option>
                    {% for store in stores %}
                    <option value="{{store.pk}}">{{store.store_name}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th><label for="seat">Select Seats</label></th>
        </tr>
        <tr>
            <td>
                <select name="seat" id="seat">
                    <option value=""></option>
                    {% for seat in seats %}
                    <option value="{{seat.seating_capacity}}">{{seat.seating_capacity}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th><label for="drive">Select Drive</label></th>
        </tr>
        <tr>
            <td>
                <select name="drive" id="drive">
                    <option value=""></option>
                    {% for drive in drives %}
                    <option value="{{drive.drive}}">{{drive.drive}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th><label for="body_type">Select Body Type</label></th>
        </tr>
        <tr>
            <td>
                <select name="body_type" id="body_type">
                    <option value=""></option>
                    {% for body_type in body_types %}
                    <option value="{{body_type.body_type}}">{{body_type.body_type}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-primary" type="submit">Select</button>
            </td>
        </tr>
    </table>
</form>
{% endif %}
{% endblock %}