{% extends "cars/base.html" %} {% block content %}
<style>
        body {
          background-color: #2a363f;
        }
</style>

<!-- <div class="logo-img">
        <img width="330" height="200" src="https://i.imgur.com/HoAdLOE.png">
</div> -->



<div class="form-style-7">
                <center><img src="https://i.imgur.com/HoAdLOE.png"></center><br><br>
<form method="POST">{% csrf_token %}
    {{form}}
    <button type="submit"><b>Register</b></button>
</form>
</div>
{% endblock %}