{% extends "cars/base.html" %}

{% block title %}{{order.pk}}{% endblock %}

{% block imports %}
<style>
    form {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr 3fr;
        grid-gap: 20px;
        padding: 20px;
    }
    input[type=text] {
        height: 100px;
    }
    
</style>
{% endblock %}

{% block content %}
<br>
<h1 class="blue-text">Order {{order.pk}}</h1>
<form method="POST">{% csrf_token %}
    <label for="interior_damage">Interior Damage</label>
    <input name="interior_damage"type="text">
    <label for="interior_condition">Interior Condition</label>
    <input name="interior_condition"type="text">
    <label for="exterior_damage">Exterior Damage</label>
    <input name="exterior_damage"type="text">
    <label for="exterior_condition">Exterior Condition</label>
    <input name="exterior_condition"type="text">
    <label for="comments">Comments</label>
    <input type="text" name="comments">
    <label for="fuel">Fuel</label>
    <select name="fuel">
        <option value="0">Empty</option>
        <option value="10">10%</option>
        <option value="20">20%</option>
        <option value="30">30%</option>
        <option value="40">40%</option>
        <option value="50">Half</option>
        <option value="60">60%</option>
        <option value="70">70%</option>
        <option value="80">80%</option>
        <option value="90">90%</option>
        <option value="100">Full</option>
    </select>

    <label for="return_store">Return Store</label>
    <select name="return_store">
        {% for store in stores %}
        <option value="{{store.pk}}">{{store.store_name}}</option>
        {% endfor %}
    </select>
    <input type="hidden" value="{{order.pk}}">
    <label></label><button class="btn btn-primary" type="submit"><b>Return</b></button>
</form>



{% endblock %}