{% extends "./base.html" %}
<!-- Loads custom filters for checking if user is in permission group -->
{% load auth_extras %}

<!-- Sets page title to staff name -->
{% block title %}{{staff.first_name}} {{staff.last_name}}{% endblock %}

<!-- Includes code into head of base template -->
{% block imports %}
<style>
    .block {
        margin-top: 50px;
    }
    .info-table {
        border: 0;
    }
    .info-table td, th {
        padding: 10px 20px;
    }
</style>
{% endblock %}

<!-- Main page content -->
{% block content %}
<br>
<h1 class="blue-text">{{staff.first_name}} {{staff.last_name}}</h1>
<h3 class="blue-text">Welcome, {{user.username}}</h3>
<br>

<div>
    <div class="block">
        <h2>Basic Information</h2>
        <table class="info-table">
            <tr>
                <th>Username: </th>
                <td>{{staff.username}}</td>
            </tr>
            <tr>
                <th>Email: </th>
                <td>{{staff.email}}</td>
            </tr>
        </table>
    </div>
    <div class="block">
        <h2>Permissions</h2>
        <form method="POST">
            {% csrf_token %} <!-- Django form required token -->
            <table class="info-table">
                <!-- Lists all available permissions groups and displays currently selected -->
                {% for group in groups %}
                <tr>
                    <th><label for="{{group}}">{{group}}</label></th>
                    {% if staff|has_group:group.name %}
                    <td><input type="checkbox" name="{{group}}" id="{{group}}" checked></td>
                    {% else %}
                    <td><input type="checkbox" name="{{group}}" id="{{group}}"></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            <!-- Submit button checks if current staff page is same as logged in user -->
            <button class="btn" type="submit" name="permission" value="True" {% if staff == user %}disabled{% endif %}>Apply Changes</button>
        </form>
    </div>
    <div class="block">
        <form method="POST">
            {% csrf_token %} <!-- Django form required token -->
            <!-- Delete button checks if current staff page is same as logged in user -->
            <button class="btn btn-danger" type="submit" name="remove" value="True" {% if staff == user %}disabled{% endif %} onclick="return confirm('Are you sure you want to remove user {{staff.first_name}} {{staff.last_name}}?')">Remove
                User</button>
        </form>
    </div>
</div>
{% endblock %}