{% extends "cars/base.html" %}

{% block title %}{{store.store_name}}{% endblock %}

{% block imports %}
<style>
    .store {
        float: left;
        width: 35vw;
    }

    .container {
        margin-top: 5vh;
    }

    .mapouter {
        margin-left: 20px;
        text-align: left;
        width: 40vw;
        float: left;
    }

    .gmap_canvas {
        background: none !important;
    }

    table, td, th {
        padding: 10px 0 0 5px;
        border: 0;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    }

    .stock {
        float:left;
    }

    li {
        list-style-type: none;  
    }

</style>
{% endblock %}


{% block content %}
<h1>{{store.store_name}}</h1>
    {% if user.is_authenticated %}
            <h3 class="blue-text">Welcome, {{user.username}}</h3>
    {% else %}
            <h3 class="blue-text">Welcome to the CRC System!</h3>
    {% endif %}

<div>
    <div class="store">
        <br>
        
        <table>
            <tr><th>Address:</th><td>{{store.address}}, {{store.city}} {{store.post_code}}, {{store.state}}</td></tr>
            <tr><th>Phone:</th><td>{{store.phone}}</td></tr>
        </table>
        
        {% if stocks %}
        <h2>Current Cars at Location</h2>
        <ul>
            {% for stock in stocks %}
            <li><a href="{% url 'car_detail' pk=stock.pk %}">{{stock.pk}}</a> {{stock.make}} {{stock.model}} {{stock.series}} {{stock.series_year}}</li>
            {% endfor %}   
        </ul>
        {% else %}
        <strong>There are no Cars Available at this</strong>
        <strong>Location, Sorry for the Inconviniece.</strong>
        {% endif %}
    </div>
    
    <div class="mapouter">
    <h2>Store Location</h2>
        <div class="gmap_canvas"><iframe width="600" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q={{store.city}} {{store.state}}&t=&z=15&ie=UTF8&iwloc=&output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</div>
</div>

{% endblock %}