{% extends "cars/base.html" %}
{% block imports %}
<style>
    .block {
        padding: 50px;
    }

    .block h4 {
        margin-top: 30px;
    }
</style>
{% endblock %}
{% block content %}
<div class="block">
    <h1>404 Page Not Found</h1>
    <h4>No page found at "{{request.path}}"</h4>
</div>
{% endblock %}